Source: libaccounts-svc
Section: devel
Priority: extra
Maintainer: Wonyoung Lee <wy1115.lee@samsung.com>
Uploaders: Wonyoung Lee <wy1115.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libslp-db-util-dev, libglib2.0-dev, capi-base-common-dev
Standards-Version: 0.1.0

Package: libaccounts-svc-dev
Section: libs
Architecture: any
Depends: libaccounts-svc-0 (= ${Source-Version}), dlog-dev, libglib2.0-dev, libslp-db-util-dev, capi-base-common-dev
Description: Account DB library
XB-Public-Package: no

Package: libaccounts-svc-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Account DB library

Package: libaccounts-svc-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaccounts-svc-0 (= ${Source-Version})
Description: Account DB library (unstripped)
